*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(dialog) {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@starting-style {
  .disabled {
    opacity: 1;
  }
}

* {
  --ff-inter: "Inter", Arial, sans-serif;
  --ff-poppins: "Poppins", Arial, sans-serif;

  --fs-description: 1em;
  --fs-body: 1.1em;
  --fs-h1: 3.5em;
  --fs-h2: 2.5em;
  --fs-h3: 1.5em;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --clr-mint-cream: #f7fff7;
  --clr-graphite: #343434;

  --clr-indigo: #2f3061;
  --clr-gold: #ffe66d;
  --clr-steel-blue: #6ca6c1;
}

h1,
h2,
h3,
p {
  color: var(--clr-graphite);
}

h1,
h2,
h3 {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  text-align: center;
  margin-bottom: 0.1em;
}

p {
  font-family: var(--ff-inter);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  line-height: 1.5;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overscroll-behavior: none;
}

header {
  display: flex;
  flex-direction: column;
}

header:before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  height: 600px;
  background-color: var(--clr-gold);
  transform: skewY(-20deg);
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.image-head {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  overflow: hidden;
  height: 100%;
}

.portrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 100%;
  margin: 2em 0;
  z-index: 2;
}

.portrait img {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.portrait > h1 {
  margin-top: calc(-30% - 1.2em);
  padding: 0.5em;
  line-height: 0.95;
}

.about {
  margin: 2em;
}

main {
  padding: 1.5em 1.5em 0 1.5em;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button > img {
  width: 2em;
  height: 2em;
}

div.socials > button > i {
  font-size: 2em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.card {
  height: 100%;
  background-color: var(--clr-steel-blue);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.explore-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7em;
}

button.explore > img {
  width: 1.5em;
  height: 1.5em;
}

button.explore > i {
  font-size: 1.5em;
}

button.explore {
  width: 1.5em;
  height: 1.5em;
}

.project-detail {
  margin: 1em;
}

.project-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7em;
}

.project-desc > p {
  font-size: var(--fs-description);
}

footer {
  position: sticky;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  background-color: #ffe66d;
}

.contact {
  padding: 1em 1em 0 1em;
}

p.contact-details {
  font-size: var(--fs-description);
  margin-top: 0.5em;
}
